.editContainer {
    width: 80%;
    height: 50vh;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: auto;

}

.editInput {
    width: 99%;
    margin: 10px;
}

.editLabel {
    text-align: center;
    margin: auto;
}

.editBtn {
    margin-right: 10px;
}