body {
  background-image: url('../../img/paper.jpg')
}
.App {
  text-align: center;
}

h1 {
  padding-top: 50px;
  margin-top: 100px;
  font-size: 60px;
}

.appHeader {
  font-family: "Montserrat";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}

h1 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  line-height: .75;
  margin: 10px 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav li {
  list-style: none;
  display: inline-block;
  margin-right: 2em;
  color: black;
  font-family: Copperplate, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navBar {
  padding-top: 1em;
  padding-bottom: 1.5em;
  margin-bottom: 1em;
  font-size: 20px;
}

a:link{
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: underline;
}

a:hover {
 color: #330033;
}